<h1><%= t ".pass_word_reset" %></h1>
<p><%= t ".to_reset_pass" %></p>
<%= link_to t(".reset_pass_word"), edit_password_reset_url @user.reset_token,
  email: @user.email %>
<p><%= t ".this_link_expire" %></p>
<p>
<%= t ".if_you_dont_use" %>
</p>
